$primary-color: #fff;
$secondary-color: #000;
$offset-color: #0000FF;
$border-color: #EEEEEE;
$orange: #FF764D;
$font-weights: (
    "regular": 400,
    "medium": 500,
    "semiBold": 600,
    "bold": 700
);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $primary-color;
    font-family: 'Barlow', sans-serif;
}

.navbar {
    font-size: 1.15em;
    line-height: 1.5;
    padding: 1.25rem;
    border-bottom: 1px solid $border-color;

    .nav-links a {
        color: $secondary-color;
        font-weight: map-get($font-weights, medium);
    }

    .main {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .menu li:hover {
        background-color: #4c9e9e;
        border-radius: 5px;
        transition: 0.3s ease;
    }

    .main li:nth-of-type(1) {
        margin-right: -1em;
    }

    .main li:nth-of-type(11) {
        margin-left: 15em;
    }

    .menu li {
        padding: 5px 14px;
    }

    .more {
        position: relative;
    }

    .more > ul {
        list-style: none;
    }

    .more__info {
        color: $orange !important;
        border: none;
        font-size: 1em;
        font-weight: map-get($font-weights, semiBold);
    }

    .main__live {
        color: $offset-color !important;
    }

    .main__login {
        font-size: 0.8em !important;
    }

    a {
        text-decoration: none;
    }
}

.nav-info {
    padding: 1.5em;

    .nav-info-section-one {
        padding-bottom: 4em;

        h2 {
            font-weight: map-get($font-weights, medium);
            padding-bottom: 1em;
        }
    }

    .nav-info-container-one {
        display: flex;
        align-items: center;
        justify-content: space-between;

        li:nth-of-type(7) {
            margin-right: 5em;
        }

        li {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        a {
            text-decoration: none;
            font-size: 18px;
            color: $secondary-color;
        }

        .about-ableton {
            color: $orange;
        }
    }

    .nav-info-section-two {

        h2 {
            font-weight: map-get($font-weights, medium);
            padding-bottom: 1em;
        }
    }

    .nav-info-container-two {
        display: flex;
        flex-direction: row;

        li:nth-of-type(7) {
            margin-right: 5em;
        }

        li {
            list-style: none;
            display: flex;
            flex-direction: column;
            padding-right: 2em;
        }

        a {
            text-decoration: none;
            font-size: 17px;
            line-height: 1.5em;
            margin-top: 0.5em;
            color: $secondary-color;
        }

        h3 {
            font-weight: map-get($font-weights, medium);
        }
    }
}

#nav-info {
    display: none;
}

#nav-info.active {
    display: block;
}